extends ../layout

block content
    h3 Authors
    a(href='/authors/add') Add New Author
    table
        thead
            tr
                th Author
                th Date of Birth
        tbody
            each author in authors
                tr
                    td #{author.first} #{author.last}
                    td= author.dob
                    td
                        a(href=`/authors/profile/${author.id}`) View Author